---
user:
  login: foobar
  email: john@doe.org
  full_name: John Doe
  group: staff

zsh:
  editor: vim
  term: xterm-256color
  command: /opt/homebrew/bin/zsh
  path:
    - /opt/homebrew/bin
    - /opt/homebrew/sbin
    - /opt/homebrew/opt/curl/bin
    - ./node_modules/.bin
    - ${PATH}
  aliases:
    - {alias: "u", command: "brew update && brew upgrade && brew autoremove && brew cleanup"}
    - {alias: "la", command: "ls -la"}
    - {alias: "ll", command: "ls -l"}
    - {alias: "resetdock", command: "defaults write com.apple.dock ResetLaunchPad -bool true; killall Dock"}
    - {alias: "flushdns", command: "sudo killall -HUP mDNSResponder"}
  plugins:
    - git
    - colored-man-pages
    - z
    - tmux

vim:
  colorscheme: desert
  plugins:
    - dense-analysis/ale
    - pearofducks/ansible-vim
    - vim-airline/vim-airline
    - junegunn/fzf
    - junegunn/fzf.vim
  rc:
    - let g:ansible_unindent_after_newline = 1
    - let g:ansible_extra_syntaxes = "sh.vim ruby.vim"
    - let g:ansible_attribute_highlight = "ob"
    - let g:ansible_name_highlight = 'd'
    - let g:ansible_extra_keywords_highlight = 1
    - let g:ansible_normal_keywords_highlight = 'Constant'
    - let g:ansible_with_keywords_highlight = 'Constant'
    - map ; :Files<CR>
    - set nocompatible
    - set noshowmode
    - set ttyfast
    - set number
    - set term={{ zsh.term }}
    - set ts=4 sw=4 expandtab smarttab
    - autocmd FileType yaml setlocal ts=2 sw=2
    - autocmd FileType yml setlocal ts=2 sw=2
    - autocmd FileType markdown setlocal ts=2 sw=2
    - autocmd FileType make setlocal ts=2 sw=2 noexpandtab
    - autocmd BufWritePre *.md :%s/\s\+$//e
    - autocmd BufWritePre *.yml :%s/\s\+$//e
    - autocmd BufWritePre *.yaml :%s/\s\+$//e
    - autocmd BufWritePre *.j2 :%s/\s\+$//e

homebrew:
  packages:
    - convmv
    - cuetools
    - curl
    - dos2unix
    - ffmpeg
    - flac
    - fzf
    - gawk
    - git
    - glances
    - go
    - grep
    - helm
    - hugo
    - jq
    - kind
    - lame
    - lua
    - make
    - midnight-commander
    - minikube
    - moreutils
    - neovim
    - nmap
    - node
    - pandoc
    - python
    - qemu
    - ripgrep
    - rsync
    - shntool
    - sox
    - sqlite
    - telnet
    - tig
    - tmux
    - tree
    - w3m
    - watch
    - wget
    - youtube-dl
    - zsh
    - zsh-completions
    - zsh-autosuggestions
    - zsh-syntax-highlighting

  cask_packages:
    - blackhole-16ch
    - calibre
    - discord
    - docker
    - dotnet-sdk
    - firefox
    - iina
    - iterm2
    - keepingyouawake
    - signal
    - suspicious-package
    - the-unarchiver
    - visual-studio-code
