---
user:
  login: foobar
  email: john@doe.org
  full_name: John Doe
  group: staff

brew_prefix: /opt/homebrew

shell:
  term: xterm-256color
  command: "{{ brew_prefix }}/bin/fish"
  vars:
    - LANG: "en_US.UTF-8"
    - PAGER: less
    - EDITOR: vim
    - ARCHFLAGS: "-arch arm64"
    - CURL_SSL_BACKEND: secure-transport
  path:
    - "{{ brew_prefix }}/bin"
    - "{{ brew_prefix }}/sbin"
    - "{{ brew_prefix }}/opt/curl/bin"
    - ./node_modules/.bin
  aliases:
    - {name: "u", command: "brew update && brew upgrade && brew autoremove && brew cleanup"}
    - {name: "resetdock", command: "defaults write com.apple.dock ResetLaunchPad -bool true; killall Dock"}
    - {name: "flushdns", command: "sudo killall -HUP mDNSResponder"}

alacritty:
  use_tmux: false
  font_size: "13.0"
  font: "Fira Code"
  cols: 60
  lines: 120

vim:
  colorscheme: desert
  plugins:
    - itchyny/lightline.vim
    - dense-analysis/ale
    - pearofducks/ansible-vim
    - junegunn/fzf
    - junegunn/fzf.vim
  rc:
    - let g:ansible_unindent_after_newline = 1
    - let g:ansible_extra_syntaxes = "sh.vim ruby.vim"
    - let g:ansible_attribute_highlight = "ob"
    - let g:ansible_name_highlight = 'd'
    - let g:ansible_extra_keywords_highlight = 1
    - let g:ansible_normal_keywords_highlight = 'Constant'
    - let g:ansible_with_keywords_highlight = 'Constant'
    - noremap ; :Files<CR>
    - noremap \ :%s/\s\+$//e<CR>
    - set term={{ zsh.term }}
    - set ttyfast
    - set lazyredraw
    - set nocompatible
    - set noshowmode
    - set noerrorbells
    - set laststatus=2
    - set hlsearch
    - set incsearch
    - set number
    - set relativenumber
    - set backspace=indent,eol,start
    - set ts=4 sw=4 expandtab smarttab
    - autocmd FileType yaml setlocal ts=2 sw=2
    - autocmd FileType yml setlocal ts=2 sw=2
    - autocmd FileType markdown setlocal ts=2 sw=2
    - autocmd FileType make setlocal ts=2 sw=2 noexpandtab
    - autocmd BufWritePre *.md :%s/\s\+$//e
    - autocmd BufWritePre *.yml :%s/\s\+$//e
    - autocmd BufWritePre *.yaml :%s/\s\+$//e
    - autocmd BufWritePre *.j2 :%s/\s\+$//e

homebrew:
  packages:
    - convmv
    - cuetools
    - curl
    - dos2unix
    - ffmpeg
    - fish
    - flac
    - fzf
    - gawk
    - git
    - glances
    - go
    - grep
    - hugo
    - jq
    - lame
    - lua
    - make
    - midnight-commander
    - moreutils
    - nmap
    - node
    - pandoc
    - python
    - ripgrep
    - rsync
    - shellcheck
    - shntool
    - sox
    - sqlite
    - telnet
    - tig
    - tmux
    - tree
    - vim
    - w3m
    - watch
    - wget
    - yt-dlp

  cask_packages:
    - alacritty
    - calibre
    - discord
    - firefox
    - iina
    - keepingyouawake
    - signal
    - suspicious-package
    - the-unarchiver
    - visual-studio-code
