export PATH=/opt/homebrew/bin:/opt/homebrew/sbin:/opt/homebrew/opt/curl/bin:${PATH}
export LC_ALL=en_US.UTF8
export LANG=en_US.UTF8

alias u="brew update && brew upgrade"
alias la="ls -la"
alias ll="ls -l"
alias vim="nvim"
