# --- Options ---

set block-policy drop
set fingerprints "/etc/pf.os"
set ruleset-optimization basic
set state-policy if-bound
set skip on lo0
icmp_types = "{ echoreq unreach }"

# --- Normalization ---

# Scrub incoming packets
scrub in all no-df

# --- Queueing ---

# --- Translation ---

# --- Filtering ---

# Antispoof
antispoof quick for { {{ antispoof_ifaces }} }

# Block to/from illegal destinations or sources
block in quick from no-route to any

# Block by default
block all

# Allow critical system traffic
pass in quick inet proto udp from any port 67 to any port 68

# Allow ICMP
pass quick inet proto icmp icmp-type $icmp_types

# Allow outgoing traffic
pass out quick inet proto { tcp udp } from any to {{ local_network }} keep state
pass out quick inet proto { tcp udp } from any to any port 443 keep state
pass out quick inet proto { tcp } from any to any port 993 keep state
pass out quick inet proto { tcp } from any to any port 587 keep state
pass out quick inet proto tcp from any to any port 22 keep state
pass out quick inet proto tcp from any to any port 80 keep state
pass out quick inet proto udp from any to any port 123 keep state
