# --- Options ---

set block-policy drop
set fingerprints "/etc/pf.os"
set ruleset-optimization basic
set state-policy if-bound
set skip on lo0

# --- Normalization ---

# Scrub incoming packets
scrub in all no-df

# --- Queueing ---

# --- Translation ---

# --- Filtering ---

# Antispoof
antispoof quick for {{ interface }}

# Block to/from illegal destinations or sources
block in quick from no-route to any

# Block by default
block all

# Allow critical system traffic
pass in quick inet proto udp from any port 67 to any port 68

# Allow ICMP on local network
pass in quick on {{ interface }} proto icmp from {{ local_network }}
pass out quick on {{ interface }} proto icmp to {{ local_network }}

# Allow incoming traffic from local network
pass in quick on {{ interface }} inet from {{ local_network }}

# Allow outgoing traffic
pass out quick on {{ interface }} inet proto { tcp udp } from any to {{ local_network }} keep state
pass out quick on {{ interface }} inet proto { tcp udp } from any to any port 443 keep state
pass out quick on {{ interface }} inet proto { tcp } from any to any port 993 keep state
pass out quick on {{ interface }} inet proto { tcp } from any to any port 587 keep state
pass out quick on {{ interface }} inet proto tcp from any to any port 22 keep state
pass out quick on {{ interface }} inet proto tcp from any to any port 80 keep state
pass out quick on {{ interface }} inet proto udp from any to any port 123 keep state
