# --- Options ---

set fingerprints "/etc/pf.os"
set ruleset-optimization basic
set block-policy drop
set state-policy if-bound
set skip on { {{ pf.skipped_interfaces | join(" ") }} }

# --- Normalization ---

# Scrub incoming packets
scrub in all no-df

# --- Queueing ---

# --- Translation ---

# --- Filtering ---

# Antispoof
antispoof quick for {{ network.interface }}

# Block to/from illegal destinations or sources
block in quick from no-route to any

# Block by default
block all

# Allow critical system traffic
pass in quick inet proto udp from any port 67 to any port 68

# Allow ICMP on local network
pass in quick on {{ network.interface }} proto icmp from {{ network.subnet }}
pass out quick on {{ network.interface }} proto icmp to {{ network.subnet }}

# Allow incoming traffic from local network
pass in quick on {{ network.interface }} inet from {{ network.subnet }}

# Allow outgoing traffic
pass out quick on {{ network.interface }} inet proto { tcp udp } from any to {{ network.subnet }} keep state
pass out quick on {{ network.interface }} inet proto { tcp udp } from any to any port 443 keep state
pass out quick on {{ network.interface }} inet proto { tcp } from any to any port 993 keep state
pass out quick on {{ network.interface }} inet proto { tcp } from any to any port 587 keep state
pass out quick on {{ network.interface }} inet proto tcp from any to any port 22 keep state
pass out quick on {{ network.interface }} inet proto tcp from any to any port 80 keep state
pass out quick on {{ network.interface }} inet proto udp from any to any port 123 keep state
