function backup-maschine
{% if backup is defined and backup.maschine is defined and backup.maschine.src and backup.maschine.dest is defined %}
    set BACKUP_LOCATION "{{ backup.maschine.dest }}/"
    set SOURCE_LOCATION "{{ backup.maschine.src }}/"
    if test -d $SOURCE_LOCATION
        rsync -avz --exclude .DS_Store --delete $SOURCE_LOCATION $BACKUP_LOCATION
    end
{% endif %}
end
