function backup-renoise
{% if backup is defined and backup.renoise is defined and backup.renoise.src and backup.renoise.dest is defined %}
    set BACKUP_LOCATION "{{ backup.renoise.dest }}/"
    set SOURCE_LOCATION "{{ backup.renoise.src }}/"
    if test -d $SOURCE_LOCATION
        rsync -avz --exclude Samples --exclude .DS_Store --delete $SOURCE_LOCATION $BACKUP_LOCATION
    end
{% endif %}
end
