function flush-cache
{% if cache_dirs is defined and cache_dirs is iterable %}
    for d in {{ cache_dirs | join(" ") }}
        echo "Cleaning up $d ..."
        rm -rfv $d/*
    end
{% endif %}
end
