set fish_greeting

{% for var in shell.vars %}
set -gx {{ var.keys() | zip(var.values()) | map('join', " ") | join(" ") }}
{% endfor %}

{% for path in shell.path %}
fish_add_path "{{ path }}"
{% endfor %}

{% for alias in shell.aliases %}
alias {{ alias.name }}="{{ alias.command }}"
{% endfor %}

if status is-interactive
    # Commands to run in interactive sessions can go here
end
