[user]
    name = {{ user.full_name }}
    email = {{ user.email }}

[color]
    ui = true
    diff = true
    merge = true

[fetch]
    prune = true

[pull]
    rebase = true

[push]
    default = simple
