{% if vim.plugins is defined %}
call plug#begin()
{% for plugin in vim.plugins %}
Plug '{{ plugin }}'
{% endfor %}
call plug#end()
{% endif %}

{% if vim.rc is defined %}
{% for line in vim.rc %}
{{ line }}
{% endfor %}
{% endif %}
colorscheme {{ vim.colorscheme }}
